

<h1><%= @client.name %></h1>
<h2>About <%= @client.name %></h2>
<p>
This will be some information about the company.  Do we need to put this in seeds?  Or maybe have this blurb stored somewhere else and somehow coded to the client name?  Anyways, I'm sure they're a great company and do lots of cool stuff and junk.
</p>
<h2>Stats</h2>
<ul>
<li>Time worked (lots)</li>
<li>Issues resolved (7)</li>
<li>Sandwiches eaten (5)</li>
</ul>
<h2>Websites</h2>
<div class='container-fluid'>
	<% @client.web_sites.all.each_slice(2) do |websites|%>
		<div class='row-fluid'>
			<% websites.each do |website| %>
				<div class='span6'>
					<h3><a href='<%= website.url %>'><%= website.url %></a></h3>
					<h4>Response Time</h4>
					<div id="rtime_<%= h(website.url) %>" style="width: 300px; height: 150px; border: 1px solid red">
						<script type="text/javascript">
							$(function () {
								$(document).ready(function() {
									bigchart("rtime_<%= h(website.url) %>", 
										<%= website.response_time_ms_1_minute_interval.to_json.html_safe %>
									);
								});
							});
						</script>
					</div>
					<h4>Requests per Minute</h4>
					<div id="rpm_<%= h(website.url) %>" style="width: 300px; height: 150px; border: 1px solid red">
						<script type="text/javascript">
							$(function () {
								$(document).ready(function() {
									bigchart("rpm_<%= h(website.url) %>", 
										<%= website.requests_per_minute.to_json.html_safe %>
									);
								});
							});
						</script>
					</div>
					<h4>Users</h4>
					<div>
						Put a chart here
					</div>
					<h4>Recent Deployments</h4>
					<div>
						Put a chart here
					</div>
				</div>
			<% end%>
		</div>
	<% end %>
</div>