<!DOCTYPE html>
<html>
<head>
  <title>GrStatus</title>
  <meta name="viewport" content="initial-scale=1.0">
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
  <%= csrf_meta_tags %>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="login">
    <% if current_user%>
      Signed in as <%= current_user.name %>
      <%= link_to "Sign out", signout_path %>
    <% else %>
      <%= link_to "sign in with Google Apps", sign_in_path %>
    <% end %>
  </div>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
