<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
  <%= render :partial=>'/layouts/head' %>
</head>
<body>
  <div class="login">
    <% if current_user%>
      Signed in as <%= current_user.name %>
      <%= link_to "Sign out", signout_path %>
    <% else %>
      <%= link_to "sign in with Google Apps", sign_in_path %>
    <% end %>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
