<!DOCTYPE html>
<html>
<head>
  <title>GrStatus</title>
  <meta name="viewport" content="initial-scale=1.0">
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body>
    <div class="login">
        <% if current_user%>
            Signed in as <%= current_user.name %>
            <%= link_to "Sign out", signout_path %>
        <% else %>
            <%= link_to "sign in with Google Apps", "/auth/google_apps" %>
            <!-- add this to use google in addition to google apps <%= link_to "sign in with Google", "/auth/google" %> -->
        <% end %>
    </div>
	
<%= yield %>

<!-- This is the javascript for the Highcharts stuff -->
<script type='text/javascript'>
function smallchart (renderto, series_data, series_name){
// This function makes the small charts on the main dashboard
new Highcharts.Chart({
            credits: {
            enabled: false
            },
            legend: {
            enabled: false,
            padding: 0,
            margin: 0,
            },
            chart: {
                backgroundColor: '#dddddd',
                renderTo: renderto,
                marginRight: 30,
                marginBottom: 0,
                type: 'line',
                animation: false,
                spacingTop: 0,
                spacingBottom: 0,
                spacingLeft: 0,
                spacingRight: 0
            },
            title: {
                text: null,
                margin: 0
            },
            xAxis: {
                tickColor: null,
                maxPadding: 0,
                lineColor: null, 
                labels: {
                    enabled: false
                }
            },
            yAxis: {
                gridLineColor: null, 
                maxPadding: 0,
                title: {
                    text: null
                },
                labels: {
                    enabled: false
                }
            },
            tooltip: {
                enabled: false
            },
            plotOptions: {
	            line: {
                    animation: false,
	                marker: {
	                    enabled: false,
	                    states: {
	                    	hover: {
	                    		enabled: false
	                    	},
	                    	select: {
	                    		enabled: false
	                    	}
	                    }
	                }
	            }
        	},
            series: [{
                name: series_name,
                data: series_data
            }]
        });
}

function bigchart (renderto, series_data, series_name){
// This function makes the larger charts on the individual client pages.
// I might need to make these different functions for different charts
// depending on what kinds of charts they are and whether or not they
// all can look the same.
new Highcharts.Chart({
            credits: {
            enabled: false
            },
            legend: {
            enabled: false,
            padding: 0,
            margin: 0,
            },
            chart: {
                renderTo: renderto,
                type: 'line',
                animation: false,
            },
            title: {
                text: null,
                margin: 0
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: {
                    minute: '%H:%M'
                },
                labels: {
                    enabled: true
                }
            },
            yAxis: {
                gridLineColor: null, 
                maxPadding: 0,
                min: 0,
                tickPixelInterval: 20,
                title: {
                    text: null
                },
                labels: {
                    enabled: true
                }
            },
            tooltip: {
                enabled: true
            },
            plotOptions: {
                line: {
                    animation: false,
                    marker: {
                        enabled: false,
                        states: {
                            hover: {
                                enabled: false
                            },
                            select: {
                                enabled: false
                            }
                        }
                    }
                }
            },
            series: [{
                name: series_name,
                data: series_data
            }]
        });
}

</script>

</body>
</html>
